<mat-card-content>
  <form #slideContent = "ngForm" class="myForm">
    <div>
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <input matInput #slide_title="ngModel" [(ngModel)]="title" name="slide_title"
        required [ngClass]="{'invalid-textbox': slideContent.submitted && !slide_title.valid}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Content:</mat-label>
        <input matInput #slide_content="ngModel" [(ngModel)]="text" name="slide_content">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onAddText()">Add</button>
      <button mat-raised-button color="primary" (click)="onRemoveText()">Remove</button>
    </div>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let content of textContent">
          <h4>{{ content }}</h4>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" #inputImg hidden>
      <button mat-raised-button color="primary" (click)="inputImg.click()">Add Image</button>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Video:</mat-label>
        <input matInput #slide_video="ngModel" [(ngModel)]="video" name="slide_video">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="onSaveSlide()">Save Slide</button>
  </form>
</mat-card-content>
