<mat-card-content>
  <form #slideContent = "ngForm" (ngSubmit)="slideContent.valid && onSubmit(slideContent)" class="myForm">
    <div>
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <input matInput #slide_title="ngModel" [(ngModel)]="contentService.selectedSlide.slide_title" name="slide_title"
        required [ngClass]="{'invalid-textbox': slideContent.submitted && !slide_title.valid}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Content:</mat-label>
        <input matInput #slide_content="ngModel" [(ngModel)]="text" name="slide_content">
        <button mat-raised-button color="primary" type="submit">Add</button>
      </mat-form-field>
    </div>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let content of textContent">
          <h1>{{ content }}</h1>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Image:</mat-label>
        <input matInput #slide_image="ngModel" [(ngModel)]="image" name="slide_image">
        <button mat-raised-button color="primary" type="">Add</button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Video:</mat-label>
        <input matInput #slide_video="ngModel" [(ngModel)]="video" name="slide_video">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Save Slide</button>
  </form>
</mat-card-content>
