<br>
<!-- <h1>Welcome to the course {{course.course_title}}</h1><br>
 -->

<h1>Welcome to the course {{course_title}}</h1><br>
<!-- <h2>{{course.course_description}}</h2> -->
<h2>{{course_description}}</h2>

<button mat-button (click)="update()">back</button>

<div class={{type}} >
  <div class="title">{{course[current_page].title}}</div><br>
  <div *ngIf="textflag" class={{textarea}} id='text_area'>
      <li *ngFor="let  textcontent of course[current_page].text">{{textcontent}}{{current_page}}</li>
  </div>
  <br>
  <br>
  <!-- <div style="height:'400px';width:'450px'" > -->
  <div id="image" *ngIf="imageflag">
    <img [src]=course[current_page].image>
  </div>
  <div id="video" *ngIf="videoflag">
      <iframe [src]="getEmbedURL(course[current_page].video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- </div>
    <button mat-button [disabled]="isprevDisabled" class="prev" (click)="dec_page(current_page)"><</button>
<button mat-button [disabled]="isnextDisabled" class="next" (click)="inc_page(current_page)">></button> -->

</div>
  </div>
  <!-- </div> -->
  <div class = "flex">
  <button mat-button [disabled]="isprevDisabled" class="flex-item" (click)="dec_page(current_page)">previous</button>
  <button mat-button [disabled]="isnextDisabled" class="flex-item" (click)="inc_page(current_page)">next</button>
</div>
<!-- <div *ngFor="let cor of course">
  <div> <iframe width="560" height="315" [src]="getEmbedURL(cor.video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> -->
