<mat-card-content>
  <form #courseCreateFrom = "ngForm" (ngSubmit) = "courseCreateFrom.valid && onSubmit(courseCreateFrom)" class="course-create-form">
    <div>
      <h2>Create Course</h2>
    </div>
    <mat-divider></mat-divider>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Course Title</mat-label>
        <input matInput #course_title ="ngModel" name="course_title" [(ngModel)]="courseService.selectedCourse.course_title" placeholder="Course Title"
        required  [ngClass]="{'invalid-textbox' :courseCreateFrom.submitted && !course_title.valid }">
        <div *ngIf="courseCreateFrom.submitted && !course_title.valid">
          <mat-error class="validation-message">This field is required</mat-error>
        </div>
      </mat-form-field>
      &nbsp;
      
      <mat-select #course_category="ngModel" placeholder="select category" name="course_category" [(ngModel)]="courseService.selectedCourse.course_category" required>
        <mat-option *ngFor = "let category of categories" [value]="category._id">{{category.category_name}}</mat-option>
      </mat-select>
    </div>


    <div>
      <mat-form-field class="full-width">
        <mat-label>Course Description</mat-label>
        <input matInput #course_description ="ngModel" name="course_description" [(ngModel)]="courseService.selectedCourse.course_description" placeholder="Course Description"
        required  [ngClass]="{'invalid-textbox' :courseCreateFrom.submitted && !course_description.valid }">
        <div *ngIf="courseCreateFrom.submitted && !course_description.valid">
          <mat-error class="validation-message">This field is required</mat-error>
        </div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-label>Course Learners</mat-label>
        <input matInput #course_learners ="ngModel" name="course_learners" [(ngModel)]="courseService.selectedCourse.course_learners" placeholder="Course Learners"
        required [ngClass]="{'invalid-textbox' :courseCreateFrom.submitted && !course_learners.valid }">
        <div *ngIf="courseCreateFrom.submitted && !course_learners.valid">
          <mat-error class="validation-message">This field is required</mat-error>
        </div>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button color ="primary" class = "course-buttons" routerLink="/home">ADD CONTENT</button>
    <div></div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <button mat-raised-button color="primary" class = "course-buttons"  type="submit" >SAVE COURSE</button>
    <button mat-raised-button color="primary" class = "course-buttons"  type="submit" >PUBLISH COURSE</button>
  </form>
</mat-card-content>