.card{
    width: 25%;
    height: 100px;
    float: left;
    margin: 2%;
    height: 35vh;
    overflow: auto;
   
}

#title{
    font-weight: bold;
    font-size: 1.7em;
    list-style: none;
}

#content{
    margin-top: 1em;
    font-size: 1em;
    list-style: none;
}

.progress{
    float: right;
}


