
mat-card{
    width: 25%;
    float: left;
    margin: 2%;
    height: 35vh;
    overflow: initial;
    word-wrap: break-word;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#title{
    font-weight: bold;
    font-size: 1.7em;
    list-style: none;
    margin: 0.5em 1em 1em 0.5em;
    border: 2px red solid;
}

#content{
    margin-top: 1em;
    font-size: 1em;
    list-style: none;
    height: 100%;
    
}

.progress{
    padding-top: 15vh;
    float: right;
}

button{
    top: 15vh;
    overflow: initial;
    word-wrap: break-word;
    display: flex;
    font-weight: bold;
    background-color: rgb(216, 212, 2);

}



.card{
    width: 27%;
    float: left;
    margin: 2%;
    height: 45vh;
    overflow: initial;
    border: 2px red solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    display: inline-block;
}

#content{
    border: 2px red solid;
    margin: 1em 1em 1em 1em;
    word-wrap: break-word;
}

.card-footer{
    bottom: 0%;
    right:0%;
    border: 2px red solid;

}